body{
    min-width: 500px !important;
}

.button-success, .button-error, .button-warning, .button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px #D1D3DB;
}

.button-success {
    background: #1CB841;
}

.button-error {
    background: #CA3C3C;
}

.button-warning {
    background: #DF7514;
}

.button-secondary {
    background: #42B8DD;
}

.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}

a.cmd img{
    width: 19px;
    height: 19px;
}

table{
    margin-bottom: 10px !important;
    width: 500px;
    min-width: 500px;
}