p#ads_banner{
    text-align: center;
    align-content: center;
    margin-bottom: 10px !important;
}

#InstagramWebTools{
    text-align: center;
    vertical-align: middle;
    margin: 10px !important;
}

#InstagramWebTools button{
    margin: 2px;
}

div.InstagramWebTools{
    text-align: center !important;
    vertical-align: middle !important;
    padding-left: auto !important;
    padding-right: auto !important;
    display: block !important;
}

.InstagramWebTools a{
    text-decoration: none!important;
}

.InstagramWebTools img{
    z-index: 99999 !important;
    cursor: auto;
    width: 19px !important;
    height: 19px !important;
    margin: 2px !important;
}

.button_DownloadThis{
    z-index: 99999;
    cursor: hand!important;
    width: 18px;
    height: 18px;
}

a._8mlbc{
    z-index: 999 !important;
}

._5axto {
    margin-bottom: 10px !important;
}

._enabled{
    border-color: firebrick !important;
    color : firebrick !important;
}

._disabled{
    border-color: gray !important;
    color:gray !important;
}
